<!DOCTYPE html>
<html>

<head>
  <style>
    .image {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  </style>
</head>

</html>

{% extends "base.html" %}

{% block content %}

<main class="mt-2 pt-4">
  <div class="container dark-grey-text">

    <h2>Product Form</h2>

    <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Product Name" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="descripcion" name="description" rows="3"
          placeholder="Product Description" required></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" name="price" placeholder="Product Price" required>
      </div>

      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" accept="image/*">
      </div>
      <button type="submit" class="btn btn-primary rounded mt-1">Create Product</button>
    </form>
  </div>
</main>

</html>

{% endblock content %}