<!DOCTYPE html>
<html>

<head>
  <style>
    .mt-5.pt-4 {
      margin-top: -0.5em !important
    }

    .col-md-6.mb-4.image {
      margin-top: 32px;
    }


    .btn-default.nav-link.waves-effect.add-to-cart {
      background: #0071bc !important;
      margin-left: 0px !important;
    }

    .badge {
      background: #0071bc !important;
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      column-gap: 15px;
    }
  </style>
</head>

</html>

{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">
    <div class="row wow fadeIn">

      <div class="col-md-6 mb-4 image">

        <img src="http://localhost:8069/web/image?model=product.template&id={{ object.id }}&field=image_512"
          class="img-fluid" alt="">

      </div>
      <div class="col-md-6 mb-4">
        <div class="p-4">
          <h1>{{object.name}}</h1>

          <p class="lead">
            <span>${{ object.lst_price }}</span>
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>

          {% if quantity > 0 %}
          <h6><strong>Stock remaining:</strong> {{ quantity }}</h6>
          {% else %}
          <h4 class="font-weight-bold red-text">
            <strong>
              SOLD OUT
            </strong>
          </h4>
          {% endif %}
        </div>

        <div class="buttons-container">
          <a href="edit/">
            <button type="button" class="btn btn-primary rounded">
              Edit
            </button>
          </a>
          <form action="{% url 'delete_product' object.id %}" method="POST">
            <button type="submit" class="btn btn-danger rounded">
              Remove
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

</html>

{% endblock content %}