<!DOCTYPE html>
<html>
<head>
<style>


.btn-default.nav-link.category {
  background: #0071bc!important;
  box-shadow: none!important;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem 0.5rem 1rem!important;
  margin: 0 0 0 0 !important;
  border: none!important;
  font-weight: 300;
}

.btn-default.nav-link.category:hover {
  background: #095c97!important;
  color: #fff!important;
  box-shadow: none!important;
  padding: 0.5rem 1rem 0.5rem 1rem!important;
  margin: 0 0 0 0 !important;
  border: none!important
}

.page-link.active {
  background: #b3b3b3!important;
}


</style>
</head>
</html>

{% extends "base.html" %}

<script>
  $(document).ready(function () {
    console.log('aqui entra');
    $('.nav-item[cattegory = "FU"]').addClass("active");

  });
</script>

{% block content %}

<main>
  <div class="container">

    <!--Section: Products v.3-->
    <section class="mb-4">

      <a href="{% url 'add_product' %}">
        <button class="btn btn-primary mb-4 rounded">
          <i class="fa-regular fa-plus fa-bounce"></i> Add Product
        </button>
      </a>

      <div class="row wow fadeIn">

        {% for item in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">

          <div class="card" style="height: 400px;" cattegory="{{item.categ_id.1}}">

            <div class="view overlay">
              <img src="http://localhost:8069/web/image?model=product.template&id={{ item.id }}&field=image_512" class="card-img-top" style="object-fit: contain; max-height: 330px;" alt="{{ item.name }}">
              <a href="product/{{ item.id }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <h5>
                <strong>
                  <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.name }}
                  </a>
                </strong>
              </h5>

              <h6 class="grey-text description"> {{ item.description }} </h6>

              <h4 class="font-weight-bold blue-text">
                <strong>$
                  {{ item.lst_price }}
                </strong>
              </h4>
              {% if item.sale_ok == false %}
              <h7 class="font-weight-bold red-text">
                <strong>
                  SOLD OUT
                </strong>
              </h7>
              {% endif %}
            </div>

          </div>

        </div>
        {% endfor %}
      </div>

    </section>
    <!--Section: Products v.3-->

    <!--Pagination-->

    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        <li class="page-item active">
          <a class="page-link active" href="?page={{ page_obj.number }}">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </div>
</main>

{% endblock content %}